<!DOCTYPE html>
<html>
<head>
    <title>Xbox Friends Gaming Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://golang.org/favicon.ico">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            background-color: #000;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        #chart {
            width: 100%;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <h1>Xbox Friends Gaming Time</h1>
    <div id="chart"></div>
    <script>
        var data = [{
            type: "sunburst",
            labels: [{{range .}}"{{.Name}} : {{.Score}}",{{end}}],
            parents: [{{range $index, $_ := .}}{{if $index}},{{end}}"",{{end}}],
            values: [{{range .}}{{.Score}},{{end}}],
            outsidetextfont: {size: 24, color: "#fff"},
            insidetextfont: {size: 24, color: "#fff"},
            leaf: {opacity: 0.4},
            marker: {line: {width: 2}, colorscale: 'Blackbody'},
        }];

        var layout = {
            autosize: true,
            margin: {l: 0, r: 0, b: 0, t: 0},
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
        };

        Plotly.newPlot('chart', data, layout);
    </script>
</body>
</html>