<!DOCTYPE html>
<html>
<head>
    <title>Xbox Friends GamingScores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://golang.org/favicon.ico">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            background-color: #000;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        #chart {
            width: 100%;
            max-width: 600px;
        }
        .header {
            color: #fff;
            font-size: 2em;
            text-align: center;
            padding-top: 20px; /* Adjust spacing from top */
            margin-bottom: 20px; /* Add margin to prevent overlapping */
        }
        .content {
            background-color: #444;
            color: #fff;
            font-size: 1.2em;
            text-align: center;
            max-width: 600px;
            margin: 0 auto 20px; /* Adjust margin */
            padding: 20px;
            border: 1px solid #fff;
            border-radius: 10px;
        }
        .source {
            background-color: #555;
            color: #fff;
            font-size: 1em;
            text-align: center;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #fff;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="header">🎮 Xbox Friends Gamerscores</div>
    <div class="content">
        The Xbox Gamerscore is a cumulative metric that reflects the total achievements a player has earned across all games on the Xbox console, serving as a representation of their accomplishments and time invested in gaming. 🎮
    </div>
    <div id="chart"></div>
    <div class="source">
        Source: Xbox API with Key for #majesticcode313
    </div>

    <script>
        var data = [{
            type: "sunburst",
            labels: [{{range .}}"{{.Name}} : {{.Score}}",{{end}}],
            parents: [{{range $index, $_ := .}}{{if $index}},{{end}}"",{{end}}],
            values: [{{range .}}{{.Score}},{{end}}],
            outsidetextfont: {size: 24, color: "#fff"},
            insidetextfont: {size: 24, color: "#fff"},
            leaf: {opacity: 0.4},
            marker: {line: {width: 2}, colorscale: 'Blackbody'},
        }];

        var layout = {
            autosize: true,
            margin: {l: 0, r: 0, b: 0, t: 0},
            paper_bgcolor: 'rgba(0,0,0,0)',
            plot_bgcolor: 'rgba(0,0,0,0)',
        };

        Plotly.newPlot('chart', data, layout);
    </script>
</body>
</html>
